@import '../../theme';

:host {
  .error-container {
    background: rgba(255,0,0,0.25);
    color: red;
    border-radius: 4px;
    border: 1px solid red;
  }

  .warning-container {
    background: #fff7bf;
    color: #a79100;
    border-radius: 4px;
    border: 1px solid #e3c600;
  }

  .visual-checks-container {
    color: #CCC;
  }

  .fake-modal {
    background: rgba(15, 14, 14, 0.6);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 998;
    padding: 16px;

    &.hidden {
      display: none !important;
    }

    .fake-modal-container {
      background: #ECECEC;

      zxing-scanner::ng-deep * {
        max-height: 500px;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .big-button-container {
    button {
      width: 96px;
      height: 96px;

      mat-icon {
        width: 48px;
        height: 48px;
        font-size: 48px;
      }
    }
  }

  .tag {
    border-radius: 4px;

    &.checked {
      background: #43a047;
      color: #FFF;
    }

    &.unchecked {
      background: #e53935;
      color: #FFF;
    }
  }

  .checked {
    color: #43a047;
  }

  .unchecked {
    color: #e53935;
  }

  .ready-to-fly {
    font-size: 2rem;
    font-weight: bold;

    .mat-icon {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }
  }

  .success-message {
    font-size: 1rem;
    font-weight: bold;

    .mat-icon {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
    }
  }

  // ----- MEDIA QUERIES ------

  // Mobile SM
  @media screen and (max-width: 490px) {

    .mat-card {
      padding: 0px;
    }

    .big-button-container {
      button {
        width: 72px;
        height: 72px;
    
        mat-icon {
          width: 36px;
          height: 36px;
          font-size: 36px;
        }
      }
    }
  }


  // Mobile XS
  @media screen and (max-width: 325px) {

    .big-button-container {
      button {
        width: 48px;
        height: 48px;
    
        mat-icon {
          width: 24px;
          height: 24px;
          font-size: 24px;
          line-height: 12px;
        }
      }
    }
  }
}