<div id="container" class="container">
  <div fxLayout="row wrap" fxLayoutAlign="start center">

    <mat-card fxFlex="100" class="mat-elevation-z4"> 

      <p class="p-16"><b>{{ getTranslationByProduct(product, 'dcc_your_flight') }}</b> {{ getFormattedFlightDescription() }} </p>

      <p class="p-16"><b>{{ getTranslationByProduct(product, 'dcc_your_booking_reference') }}</b> {{ booking?.pnr }} </p>

      <ng-container *ngIf="'Processed' === booking?.status">

        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-16">

          <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_processed_msg_1') }}</p>

          <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_processed_msg_2') }}</p>

          <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_processed_msg_3') }}</p>

          <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" class="ready-to-fly">
            <mat-icon class="checked">check_circle</mat-icon>
            <span>READYTOFLY</span>
          </div>
  
        </div>
      </ng-container>

      <ng-container *ngIf="'Accepted' === booking?.status">
        
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-16">

          <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_accepted_msg_1') }}</p>
    
          <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_accepted_msg_2') }}</p>
  
          <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_accepted_msg_3') }}</p>
        
        </div>

      </ng-container>

      <ng-container *ngIf="!['Accepted', 'Processed'].includes(booking?.status)">

        <mat-vertical-stepper [linear]="isLinear" #stepper>

          <!-- Replace pencil icon with step number -->
          <ng-template matStepperIcon="edit" let-index="index">{{index + 1}}</ng-template>
    
          <!-- STEP 1 -->
          <mat-step [completed]="!consentForm.invalid">
  
            <ng-template matStepLabel>{{ getTranslationByProduct(product, 'dcc_step_1') }}</ng-template>
  
            <form [formGroup]="consentForm" fxLayout="row wrap" fxLayoutAlign="start center">
  
              <div fxFlex="100" class="p-16">{{ getTextContent()?.title }}</div>
      
              <div fxFlex="100" class="p-16">{{ getTextContent()?.description }}</div>
      
              <div fxFlex="100" class="p-16" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <mat-checkbox fxFlex="5" formControlName="consent"></mat-checkbox>
                <span fxFlex="95" [innerHTML]="getTextContent()?.terms"></span>
              </div>
      
              <div fxFlex="100" class="p-16" fxLayoutAlign="center center">
                <button fxFlex="100" fxFlex.gt-sm="50" mat-raised-button color="accent" [disabled]="consentForm.invalid" matStepperNext>{{ getTranslationByProduct(product, 'dcc_start_verification') }}</button>
              </div>
      
            </form>
      
          </mat-step>
          <!-- / STEP 1 -->
      
          <!-- STEP 2 -->
          <mat-step [completed]="isValidStep2">
  
            <ng-template matStepLabel>{{ getTranslationByProduct(product, 'dcc_step_2') }}</ng-template>
  
            <ng-container *ngIf="isLoading">
              <div fxFlex="100" fxLayoutAlign="center center" class="p-16">
                <mat-spinner color="primary"></mat-spinner>
              </div>
            </ng-container>
      
            <ng-container *ngIf="!isLoading">
              <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" class="mt-16">
  
                <div fxFlex="100" *ngIf="globalErrorMessage && globalErrorMessage?.length > 0">
                  <div fxFlex class="error-container mb-16 p-16">
                    <span>{{ getTranslationByProduct(product, globalErrorMessage) }}</span>
                  </div>
                </div>
  
                <mat-accordion fxFlex="100" [multi]="true">
      
                  <mat-expansion-panel *ngFor="let passenger of passengers;" [expanded]="!isValidPassenger(passenger, true)">
      
                    <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                        <span>{{ passenger?.lastName }} {{ passenger?.firstName }}</span>
                      </mat-panel-title>

                      <mat-panel-description fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
                        <ng-container *ngIf="isValidPassenger(passenger, true)">
                          <span class="tag py-8 px-8 checked">{{ getTranslationByProduct(product, 'dcc_status_ok') }}</span>
                        </ng-container>

                        <ng-container *ngIf="!isValidPassenger(passenger, true)">
                          <span class="tag py-8 px-8 unchecked">{{ getTranslationByProduct(product, 'dcc_status_ko') }}</span>
                        </ng-container>
                      </mat-panel-description>

                    </mat-expansion-panel-header>
    
                    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="!isEnable">
                      
                      <!-- SCAN -->
                      <ng-container *ngIf="!isValidPassenger(passenger, true)">

                        <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_scan_qr_code_msg') }}</p>
        
                        <div fxFlex="100" class="big-button-container p-16" fxLayoutAlign="center center" fxLayoutGap="16px">
                          <button mat-fab color="accent" (click)="onScanQrCode(passenger)">
                            <mat-icon>qr_code_scanner</mat-icon>
                          </button>
  
                          <span>OU</span>
  
                          <button mat-fab color="accent" (click)="fileInputQrCode.click()">
                            <mat-icon>upload_file</mat-icon>
                            <input hidden type="file" #fileInputQrCode (change)="onUploadQrCode(passenger, $event.target.files)" />
                          </button>
                        </div>

                        <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_upload_equivalent_qr_code_msg') }}</p>

                        <div fxFlex="100" class="p-16" fxLayoutAlign="center center">
                          <button class="mb-16" mat-raised-button color="accent" (click)="fileInputEquivalentQrCode.click()">
                            {{ getTranslationByProduct(product, 'dcc_upload_equivalent_qr_code_btn') }}
                          </button>

                          <input hidden type="file" #fileInputEquivalentQrCode (change)="onUploadEquivalentQrCode(passenger, $event.target.files)" />
                        </div>

                      </ng-container> 
    
                      <ng-container *ngIf="isValidPassenger(passenger, true) && dccByPassenger.has(passenger.passengerIndex)">
                        <div fxFlex="100" class="success-message p-16" fxLayoutAlign="center center" fxLayoutGap="16px">
                          <mat-icon class="checked">checked</mat-icon>
                          <span>{{ getTranslationByProduct(product, 'dcc_submitted_qr_code_msg') }}</span>
                        </div>
                      </ng-container>
                      <!-- / SCAN -->
  
                      <!-- ERROR INVALID_NAME -->
                      <ng-container *ngIf="errorByPassenger.get(passenger.passengerIndex) === 'INVALID_NAME' && !isValidPassenger(passenger, true)">
                        
                        <div fxFlex="100" class="warning-container mb-16 p-16">
                          <span>{{ getTranslationByProduct(product, 'dcc_invalid_name_msg') }}</span>
                        </div>

                        <div fxFlex="100" fxLayout="row wrap" class="p-16" fxLayoutAlign="center center" fxLayoutGap="16px">
                          <button fxFlex fxFlex.lt-md="100" ngClass.lt-md="mb-16" mat-raised-button color="accent" (click)="file1Input.click()">
                            {{ getTranslationByProduct(product, 'dcc_upload_proof') }}
                          </button>

                          <input hidden type="file" #file1Input (change)="onUploadProofDocument(passenger, $event.target.files)" />
                          
                          <button fxFlex fxFlex.lt-md="100" ngClass.lt-md="mb-16" mat-raised-button color="accent" (click)="file2Input.click()">
                            {{ getTranslationByProduct(product, 'dcc_upload_dcc') }}
                          </button>

                          <input hidden type="file" #file2Input (change)="onUploadDccDocument(passenger, $event.target.files)" />
                        </div>

                        <div fxFlex="100" fxLayout="row wrap" class="p-16" fxLayoutAlign="start center" fxLayoutGap="16px">
                          <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px" class="visual-checks-container" 
                            [ngClass]="{ 'checked': uploadedProofByPassenger.has(passenger.passengerIndex) }"
                          >
                            <mat-icon>checked</mat-icon>
                            <span>{{ getTranslationByProduct(product, 'dcc_check_text_proof') }}</span>
                          </div>

                          <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px" class="visual-checks-container"
                            [ngClass]="{ 'checked': uploadedDccByPassenger.has(passenger.passengerIndex) }"
                          >
                            <mat-icon>checked</mat-icon>
                            <span>{{ getTranslationByProduct(product, 'dcc_check_text_dcc') }}</span>
                          </div>
                        </div>

                      </ng-container>
  
                      <ng-container *ngIf="
                        isValidPassenger(passenger, true) 
                        && uploadedDccByPassenger.has(passenger.passengerIndex)
                        && uploadedProofByPassenger.has(passenger.passengerIndex)
                      ">
                        <div fxFlex="100" class="success-message p-16" fxLayoutAlign="center center" fxLayoutGap="16px">
                          <mat-icon class="checked">checked</mat-icon>
                          <span>{{ getTranslationByProduct(product, 'dcc_submitted_invalid_name_msg') }}</span>
                        </div>
                      </ng-container>
                      <!-- / ERROR INVALID_NAME -->
  
                    </div>
    
                  </mat-expansion-panel>
      
                </mat-accordion>
  
                <div fxFlex="100" class="p-16" fxLayoutAlign="center center">
                  <button fxFlex="100" fxFlex.gt-sm="50" mat-raised-button color="accent" (click)="onSubmit(false)" [disabled]="!areValidsPassengers(true)">
                    <span>{{ getTranslationByProduct(product, 'dcc_submit_btn') }}</span>
                  </button>
                </div>
    
              </div>
            </ng-container>
      
          </mat-step>
          <!-- / STEP 2 -->

          <!-- STEP 3 -->
          <mat-step *ngIf="currentOffer?.choiceType === 'QR_CODE_UPLOAD'">

            <ng-template matStepLabel>{{ getTranslationByProduct(product, 'dcc_step_3') }}</ng-template>

            <ng-container *ngIf="isLoading">
              <div fxFlex="100" fxLayoutAlign="center center" class="p-16">
                <mat-spinner color="primary"></mat-spinner>
              </div>
            </ng-container>

            <ng-container *ngIf="!isLoading">
              <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" class="mt-16">
  
                <mat-accordion fxFlex="100" [multi]="true">
          
                  <mat-expansion-panel *ngFor="let passenger of passengers" [expanded]="!isValidPassenger(passenger, false)">
  
                    <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                        <span>{{ passenger?.lastName }} {{ passenger?.firstName }}</span>
                      </mat-panel-title>
  
                      <mat-panel-description fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
                        <ng-container *ngIf="isValidPassenger(passenger, false)">
                          <span class="tag py-8 px-8 checked">{{ getTranslationByProduct(product, 'dcc_status_ok') }}</span>
                        </ng-container>
  
                        <ng-container *ngIf="!isValidPassenger(passenger, false)">
                          <span class="tag py-8 px-8 unchecked">{{ getTranslationByProduct(product, 'dcc_status_ko') }}</span>
                        </ng-container>
                      </mat-panel-description>
  
                    </mat-expansion-panel-header>
    
                    <!-- ADDITIONAL UPLOAD -->
                    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" class="mt-16">
    
                      <p fxFlex="100" class="p-16">{{ getTranslationByProduct(product, 'dcc_additional_document_msg') }}</p>
          
                      <p fxFlex="100" class="p-16">{{ getTextContent()?.description }}</p>
                      
                      <div fxFlex="100" class="p-16" fxLayoutAlign="center center" fxLayoutGap="16px">
                        <button fxFlex="100" (click)="fileInput3.click()" mat-raised-button color="accent">{{ getTranslationByProduct(product, 'dcc_upload_document') }}</button>
                        <input hidden type="file" #fileInput3 (change)="onUploadAdditionalDocument(passenger, $event.target.files)" />
                      </div>
    
                      <ng-container *ngIf="isValidPassenger(passenger, false)">
                        <div fxFlex="100" class="success-message p-16" fxLayoutAlign="center center" fxLayoutGap="8px">
                          <mat-icon class="checked">checked</mat-icon>
                          <span>{{ getTranslationByProduct(product, 'dcc_uploaded_document_msg') }}</span>
                        </div>
                      </ng-container>

                      <div fxFlex="100" class="p-16">
                        <ul>
                          <li *ngFor="let doc of uploadedAdditionalDocumentsByPassenger.get(passenger.passengerIndex)">{{ doc?.name }}</li>
                        </ul>
                      </div>

                    </div>
                    <!-- / ADDITIONAL UPLOAD -->
    
                  </mat-expansion-panel>
    
                </mat-accordion>
  
                <div fxFlex="100" class="p-16" fxLayoutAlign="center center">
                  <button fxFlex="100" fxFlex.gt-sm="50" mat-raised-button color="accent" (click)="onSubmit(true)" [disabled]="!areValidsPassengers(false)">
                    <span>{{ getTranslationByProduct(product, 'dcc_submit_btn') }}</span>
                  </button>
                </div>

              </div>

            </ng-container>

          </mat-step>
          <!-- STEP 3 -->
      
        </mat-vertical-stepper>

      </ng-container>

      <!-- MODAL SCANNER -->
      <div class="fake-modal" fxLayoutAlign="center center" [ngClass]="{ 'hidden': !isEnable }">
  
        <div fxFlex="90" fxFlex.gt-md="50" class="fake-modal-container" fxLayout="row wrap" fxLayoutAlign="start start">

          <div fxFlex="100" fxLayout="row wrap" class="p-16" *ngIf="isEnable">
            <div fxFlex="100">
              <h3>{{ getTranslationByProduct(product, 'dcc_active_camera_selection') + " " + currentPassenger.lastName + " " + currentPassenger.firstName }}</h3>
            </div>

            <mat-form-field fxFlex="100" *ngIf="availableDevices.length > 1">
              <mat-label>{{ getTranslationByProduct(product, 'dcc_active_camera') }}</mat-label>
              <mat-select matInput [(ngModel)]="selectedDevice">
                <mat-option *ngFor="let device of availableDevices" [value]="device">{{ device.label.split('(')[0] }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> 

          <div fxFlex="100" [hidden]="!selectedDevice">
            <zxing-scanner #scanner
              [formats]="allowedFormats"
              [autostart]="autostart"
              [enable]="isEnable"
              [device]="selectedDevice"
              (camerasFound)="onCamerasFound($event)"
              (scanSuccess)="onScanSuccess($event)"
            ></zxing-scanner>
          </div>

          <div fxFlex="100" class="p-16" fxLayoutAlign="center center">
            <button fxFlex="100" fxFlex.gt-sm="50" mat-raised-button color="accent" (click)="onCancelScanQrCode()">{{ getTranslationByProduct(product, 'dcc_cancel_scan') }}</button>
          </div>

        </div>

      </div>
      <!-- / MODAL SCANNER -->

    </mat-card>

  </div>
</div>
