<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="px-16 pt-16">

    <mat-accordion fxFlex="100">
      <mat-expansion-panel id="offerInfo" (opened)="onToggleOfferDescription(true)" (closed)="onToggleOfferDescription(false)">
        <mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px">
          <mat-panel-title>
            {{ offerContentName }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="p-16 fixed-height" [innerText]="offerContentDescription"></div>
        
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" class="column-container full-width">
    

    <ng-container *ngIf="booking?.status === 'Processed'">

      <div fxFlex="100" class="column">
    
        <div class="scroll-container p-16" [ngClass]="{'reduced' : isOfferDescriptionDisplayed }">
    
          <div class="full-width" fxLayout="row wrap" fxLayoutAlign="start center">

            <div fxFlex="100" class="dcc-state-container p-16" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px">
              <mat-icon class="checked">check_circle</mat-icon>
              <span>DCC OK</span>
            </div>

          </div>

        </div>

      </div>

    </ng-container>

    <ng-container *ngIf="booking?.status !== 'Processed'">

      <div fxFlex="30" class="column">
    
        <div class="scroll-container p-16" [ngClass]="{'reduced' : isOfferDescriptionDisplayed }">
    
          <div class="full-width" fxLayout="row wrap" fxLayoutAlign="start center">
    
            <div fxFlex="100" class="scroll-container-title bold" fxLayout="row" fxLayoutAlign="start center">
              <span>Documents list by pax</span>
            </div>
    
            <mat-accordion fxFlex="100">
              <mat-expansion-panel *ngFor="let entry of documentsByPax | keyvalue">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ entry?.key.lastName }} {{ entry?.key.firstName }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
    
                <ng-container *ngIf="entry.value && entry.value.length > 0">
                  <div class="full-width p-16 pointer document" [ngClass]="{ 'active':  document === currentOriginalDocumentSelected }"
                    (click)="onSelectDocument(document)" *ngFor="let document of entry.value;">
                    {{ document?.documentName }}
                  </div>
                </ng-container>
              
                <ng-container *ngIf="entry.value === undefined || entry.value === null || entry.value.length === 0">
                  <div class="full-width p-16 no-document">
                    No documents found
                  </div>
                </ng-container>
                
              </mat-expansion-panel>
            </mat-accordion>
    
          </div>
    
        </div>
    
      </div>
    
      <div fxFlex="70" class="column">
    
        <div class="scroll-container p-16" [ngClass]="{'reduced' : isOfferDescriptionDisplayed }">
    
          <ng-container *ngIf="isImageLoading">
            <jerry-loader-flex></jerry-loader-flex>
          </ng-container>
    
          <ng-container *ngIf="!isImageLoading">
            <div class="full-width" fxLayout="row wrap" fxLayoutAlign="start center">
              <div fxFlex="100" class="scroll-container-title bold" fxLayout="row" fxLayoutAlign="space-between center">
                <span>Document preview</span>
    
                <div fxLayout="row" fxLayout="start center" fxLayoutGap="16px" *ngIf="displayDocumentsPagingBlock">
                  <button mat-icon-button (click)="onPreviewPreviousDocument()" [disabled]="!pagingPreviousPossible">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                  </button>
    
                  <span class="pagination">{{ currentDocumentPageIndex }} / {{ totalDocumentPages }}</span>
              
                  <button mat-icon-button (click)="onPreviewNextDocument()" [disabled]="!pagingNextPossible">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
  
                <button matTooltip="Rotate image" mat-icon-button (click)="onRotateImage(imageContainer.offsetWidth)" *ngIf="displayedImage">
                  <mat-icon>360</mat-icon>
                </button>
              </div>

              <ng-container *ngIf="currentOriginalDocumentSelected">

                <ng-container *ngIf="'DCC_CONTENT' === currentOriginalDocumentSelected?.logicalDocumentType">
                  <div fxFlex="100" class="dcc-state-container p-16" fxLayout="row wrap" 
                    *ngIf="'TRIP_VALID' === currentOriginalDocumentSelected?.status"
                    fxLayoutAlign="center center" fxLayoutGap="16px">
                    <mat-icon class="checked">check_circle</mat-icon>
                    <span>DCC OK</span>
                  </div>

                  <div fxFlex="100" class="dcc-state-container p-16" fxLayout="row wrap" 
                    *ngIf="'TRIP_VALID' !== currentOriginalDocumentSelected?.status"
                    fxLayoutAlign="center center" fxLayoutGap="16px">
                    <mat-icon class="unchecked">cancel</mat-icon>
                    <span>DCC KO</span>
                  </div>
                </ng-container>

                <div fxFlex="100" class="p-16" fxLayout="column" fxLayoutAlign="start start"
                  *ngIf="'DCC_CONTENT' !== currentOriginalDocumentSelected?.logicalDocumentType">
                  <p><b>Type of document</b> :</p>
                  <p>{{ getLogicalDocumentTypeDesc(currentOriginalDocumentSelected?.logicalDocumentType) }}</p>
                </div>

              </ng-container>

              <div fxFlex="100" class="imageContainer p-16" #imageContainer fxLayout="row wrap" fxLayoutAlign="center center">
                <img class="displayedImage" [@rotatedState]="currentAnimationState" id="displayedImage" [src]="displayedImage" />
              </div>
              
            </div>
          </ng-container>
    
        </div>
    
      </div>

    </ng-container>

  
  </div>
  
</div>