@import '../../../../theme.scss';

:host {
  width: 100%;
  height: 100%;

  .column-container {
    background-color: #FAFAFA;
    height: 100%;
    overflow: hidden;

    .column {
      height: 100%;

      .scroll-container {
        // Parent height - padding - title height
        height: calc(100% - 106px);
        overflow: auto;

        &.reduced {
          // Parent height - padding - title height - offer description height
          height: calc(100% - 232px);
        }

        .scroll-container-title {
          height: 40px;
        }

        .pagination {
          line-height: 40px;
        }

        .document {
          &:hover, &.active {
            background: $accent;
            color: white;
          }
        }

        .no-document {
          color: red;
        }

        .imageContainer {

          .displayedImage {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .dcc-state-container {
          font-size: 2rem;
          font-weight: bold;

          .mat-icon {
            height: 2rem;
            width: 2rem;
            font-size: 2rem;
            font-weight: bold;
            line-height: 2rem;
          }

          .checked {
            color: #43a047;
          }
        
          .unchecked {
            color: #e53935;
          }
        }
      }
    }
  }

  .fixed-height {
    height: 100px;
    max-height: 100px;
    overflow: auto;
  }

  ::ng-deep {  
    
    mat-expansion-panel {
      margin-bottom: 10px;
    }

    .mat-expansion-panel-body {
      padding: 0px;
      padding-right: 10px;
      padding-bottom: 4px;
    }
  }
}